<div class="wrapper">

    <div class="panel-header panel-header-sm">
    </div>
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"> ProductList</h4>
                        <button _ngcontent-c3 (click)="goTaAddproduct()" class="btn btn-primary btn-simple btn-round" type="button">
                            <i class="now-ui-icons ui-1_simple-add"></i>Add Product</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" *ngFor="let product of products">
                                <thead class=" text-primary">
                                <th>
                                    Name
                                </th>
                                <th>
                                    Country
                                </th>
                                <th>
                                    City
                                </th>
                                <th class="text-right">
                                    images
                                </th>
                                <th class="text-right">
                                    Actions
                                </th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td (click)="goToProductItem(product.idProduit)">
                                        {{product.nomProduit}}
                                    </td>
                                    <td (click)="goToProductItem(product.idProduit)">
                                        {{product.prixProduit}}
                                    </td>
                                    <td (click)="goToProductItem(product.idProduit)">
                                        {{product.qteProduit}}
                                    </td>
                                    <td class="text-right">
                                        <img
                                                class="rounded-circle mr-1"
                                                src="http://localhost:8081/Imgarticles/+{{product.idProduit}}"
                                                height="50"
                                                width="50"

                                        />
                                    </td>
                                    <td class="text-right">
                                        <button _ngcontent-c3 (click)="goToEdit(product.idProduit)" class="btn btn-primary btn-simple btn-round" type="button">
                                            <i class="now-ui-icons design-2_ruler-pencil"></i></button>
                                        <button _ngcontent-c3 (click)="deleteProduct(product)" class="btn btn-primary btn-simple btn-round" type="button">
                                            <i class="now-ui-icons ui-1_simple-remove"></i></button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>




    </div>
</div>
