.description, .card-description, .footer-big p, .card .footer .stats {
  color: #343a40;
  font-weight: 300;
}
h5, .h5 {
  font-size: 1.57em;
  line-height: 1.4em;
  margin-bottom: 15px;
  margin-left: 15px;
}

.footer {
  padding: 82px  0;
  position: relative;
  margin-top: 30%;
}

.footer.footer-default {
  background-color: #ff3636;
}

